.text{
  color: aliceblue;
}

.text-title{
  color: #EBE44B;
  font-family: 'Open Sans', sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  /* text-transform: capitalize; */
  text-align:  center;
  /* text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,1px -1px 1px #000,-1px -1px 1px #000; */
  padding-bottom: 50px;
  padding-top: 50px;

  color:white;
  font-size: 4rem;
  -webkit-text-fill-color: #EBE44B;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;


}

.text-page{
  color: #000;
  font-family: Open Sans;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
  display: flex;

  align-content: center;
}

.tela{
  min-height: 80vh;
}

.img-responsive{
  height:80vh;
}
